<p>
  Welcome to Board Game Site!!!
</p>

  
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="gameId">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Game ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.gameId}}</mat-cell>
    </ng-container> 
    <ng-container matColumnDef="gameName">
		  <mat-header-cell *matHeaderCellDef  mat-sort-header>Game Name</mat-header-cell>
		  <mat-cell *matCellDef="let element">{{element.gameName}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="averageRating">
		  <mat-header-cell *matHeaderCellDef mat-sort-header>Average Rating</mat-header-cell>
		  <mat-cell *matCellDef="let element">{{element.averageRating}}</mat-cell>
    </ng-container> 
    <ng-container matColumnDef="rating">
		  <mat-header-cell *matHeaderCellDef mat-sort-header>User Rating</mat-header-cell>
		  <mat-cell *matCellDef="let element">{{element.rating}}</mat-cell>
    </ng-container> 
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  
</div>
