
<form [formGroup]="AddGameForm">
  <p><b>Add Game:</b></p>
  <div class="form-group">
    <input type="text" formControlName="gamename" [(ngModel)]="gamename"
           class="form-control" id="gamename" placeholder="Enter Game"
           [ngClass]="{ 'is-invalid': submitted && f.gamename.errors }">
    <div *ngIf="submitted && f.gamename.errors" class="invalid-feedback">
      <div *ngIf="f.gamename.errors.required">Game Name is required</div>
    </div>
  </div>

  <div class="form-group row">
    <button mat-raised-button color="primary" type="submit" (click)="onAdd()">Add</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</form>
